# Default owners
* @BTCDecoded/maintainers

# Layer-specific
/blvm-consensus/ @BTCDecoded/consensus
/blvm-protocol/ @BTCDecoded/engine
/blvm-node/ @BTCDecoded/node
/blvm-sdk/ @BTCDecoded/sdk
/governance-app/ @BTCDecoded/governance
